@model QuizzApp.Models.Quiz
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły quizu</h1>

<div>
    <h4>Quiz</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
    </dl>
</div>
<div class="mb-3">
    <a asp-controller="Questions" asp-action="Take" asp-route-quizId="@Model.Id" class="btn btn-success">Rozpocznij quiz</a>
</div>
@{
    var isOwner = User.Identity.IsAuthenticated && Model.UserId == User.FindFirstValue(ClaimTypes.NameIdentifier);
}
<div>
    @if (isOwner)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a>
    }
    <a asp-action="Index">Wróć do listy</a>
</div>
