@model IEnumerable<QuizzApp.Models.Quiz>

@{
    ViewData["Title"] = "Wszystkie Quizy";
}

<h1>Wszystkie quizy</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Stwórz nowy quiz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm me-2">Szczegóły</a>
                    <a asp-action="Take" asp-route-id="@item.Id" class="btn btn-success btn-sm">Rozpocznij quiz</a>
                </td>
            </tr>
        }
    </tbody>

</table>
