@model IEnumerable<QuizzApp.Models.Quiz>

@{
    ViewData["Title"] = "Moje quizy";
}

<h1>Moje quizy</h1>

<p>
    <a asp-action="Create" class="btn btn-primary mb-3">Stwórz nowy quiz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.Description)</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary me-2 mb-1">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info me-2 mb-1">Szczegóły</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger me-2 mb-1">Usuń</a>
                    <a asp-controller="Questions" asp-action="ListForQuiz" asp-route-quizId="@item.Id" class="btn btn-sm btn-warning mb-1">Zarządzaj pytaniami</a>
                </td>
            </tr>
        }
    </tbody>
</table>
