@model QuizzApp.Models.Question

@{
    ViewData["Title"] = "Usuń";
}

<h1>Usuń pytanie</h1>

<h3>Czy na pewno chcesz usunąć to pytanie?</h3>
<div>
    <h4>Pytanie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quiz)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quiz.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Score)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger me-2">Usuń</button>
        <a asp-action="ListForQuiz" asp-route-quizId="@Model.QuizId" class="btn btn-secondary">Wróć do listy pytań</a>

    </form>
</div>
