@model QuizzApp.Models.Question

@{
    ViewData["Title"] = "Szczegóły pytania";
}

<h1>Szczegóły pytania</h1>

<div>
    <h4>Pytanie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Treść pytania</dt>
        <dd class="col-sm-9">@Model.Text</dd>

        <dt class="col-sm-3">Punkty</dt>
        <dd class="col-sm-9">@Model.Score</dd>

        <dt class="col-sm-3">Quiz</dt>
        <dd class="col-sm-9">@Model.Quiz?.Title</dd>
    </dl>
</div>
<div>
	<a asp-action="Create" asp-controller="Answers" asp-route-questionId="@Model.Id">Dodaj odpowiedź</a>
</div>

@if (Model.Answers != null && Model.Answers.Any())
{
    <h5>Odpowiedzi:</h5>
    <ul>
        @foreach (var answer in Model.Answers)
        {
            <li>
                @answer.Text
                @if (answer.IsCorrect)
                {
                    <span class="badge bg-success">Poprawna</span>
                }
            </li>
        }
    </ul>
}

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Usuń</a> |
    <a asp-action="ListForQuiz" asp-route-quizId="@Model.QuizId">Wróć do listy pytań</a>
</div>
