@model QuizzApp.Models.Quiz


@{
    ViewData["Title"] = "Pytania w quizie";
}

<h1>Pytania w quizie: @Model.Title</h1>
<p>@Model.Description</p>

<p>
    <a asp-action="Create" asp-route-quizId="@Model.Id" class="btn btn-primary me-2">Dodaj pytanie</a>
    <a asp-controller="Quizs" asp-action="MyQuizzes" class="btn btn-secondary">
        Powrót do moich quizów
    </a>
</p>



@if (Model.Questions != null && Model.Questions.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Treść pytania</th>
                <th>Punkty</th>
                <th>Akcje</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var q in Model.Questions)
            {
                <tr>
                    <td>@q.Text</td>
                    <td>@q.Score</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@q.Id" class="btn btn-sm btn-primary me-1">Edytuj</a>
                        <a asp-action="Delete" asp-route-id="@q.Id" class="btn btn-sm btn-danger me-1">Usuń</a>
                        <a asp-action="Details" asp-route-id="@q.Id" class="btn btn-sm btn-info me-1">Szczegóły</a>
                        <a asp-controller="Answers" asp-action="Index" asp-route-questionId="@q.Id" class="btn btn-sm btn-warning">Zarządzaj odpowiedziami</a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Brak pytań w tym quizie.</p>
}
